*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: lightblue;
}
#postsContainer{
  display: flex;
  width: 100%;
  background: rgba(166, 255, 166, 0.836);
  flex-wrap: wrap;
  justify-content: center;
}

#postsContainer #post{
  border: 2px solid rgb(255, 255, 255);
  margin: 5px;
  height: 40vh;
  width: 45%;
  word-wrap: break-word;
  overflow: hidden;
}
#boxPara{
  background: white;
  /* text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; */
}